{% extends 'base.html.twig' %}

{% block body %}
    <h1>Membre</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ membre.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ membre.prenom }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ membre.pseudo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ membre.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ membre.password }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{% if membre.birthday %}{{ membre.birthday|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ membre.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ membre.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ membre.ville }}</td>
            </tr>
            <tr>
                <th>Idsport</th>
                <td>{{ membre.idsport }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ membre.niveau }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ membre.sexe }}</td>
            </tr>
            <tr>
                <th>Abonnementnewsletter</th>
                <td>{% if membre.abonnementnewsletter %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Dateinscription</th>
                <td>{% if membre.dateinscription %}{{ membre.dateinscription|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ membre.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('membres_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('membres_edit', { 'id': membre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
