<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MEETING SPORT</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
  <link rel="stylesheet" href="{{ asset('/css/Fonts/MaterialDesign-Webfont-master/css/materialdesignicons.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('/css/flag-icon-css-master/css/flag-icon.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/perfect-scrollbar.css') }}" />  
<!-- endinject -->
  <!-- plugin css for this page -->
<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
<link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>