{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sports list</h1>

    <table>
        <thead>
            <tr>
                <th>Intitule</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sport in sports %}
            <tr>
                <td><a href="{{ path('sports_show', { 'id': sport.id }) }}">{{ sport.intitule }}</a></td>
                <td>{{ sport.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sports_show', { 'id': sport.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sports_edit', { 'id': sport.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sports_new') }}">Create a new sport</a>
        </li>
    </ul>
{% endblock %}
